@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500&display=swap");
.opinions_section {
  padding-top: 100px;
  min-height: 50vh;
  position: relative;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #4a4e69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions_section .opinions {
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions_section .opinions .opinion {
  background-color: white;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 360px;
  margin: 40px;
  border: 1px solid white;
  -webkit-box-shadow: 8px 8px 24px 0px #202025;
          box-shadow: 8px 8px 24px 0px #202025;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.opinions_section .opinions .opinion .opinion_avatar {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  border: 1px solid white;
  border-radius: 200px;
  background-color: white;
  background-size: cover;
  background-position: center;
  min-width: 100px;
  min-height: 90px;
}

.opinions_section .opinions .opinion .opinion_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.opinions_section .opinions .opinion .opinion_top .top_left {
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 20px;
}

.opinions_section .opinions .opinion .opinion_top .top_left .opinion_author {
  font-size: 20px;
  color: #040c2c;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0px;
}

.opinions_section .opinions .opinion .opinion_top .top_left .opinion_author_type {
  margin: 0px;
  color: #4a4e69;
}

.opinions_section .opinions .opinion .opinion_top .top_right {
  margin-right: 20px;
  text-align: right;
  color: goldenrod;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.opinions_section .opinions .opinion .opinion_line {
  background-color: white;
  width: 100%;
}

.opinions_section .opinions .opinion .opinion_line .line {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions_section .opinions .opinion .opinion_line .line p {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.opinions_section .opinions .opinion .opinion_line .line hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 1.5px;
  background-color: #4a4e69;
  opacity: 0.5;
  border: 0px solid white;
}

.opinions_section .opinions .opinion .opinion_bottom {
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
  opacity: 0.9;
  color: gray;
}

@media (max-width: 1000px) {
  .opinions_section {
    min-height: 100vh;
    max-height: none;
  }
  .opinions_section .opinions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=opinions.css.map */