@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:ital,wght@1,700&display=swap");
.admin_panel {
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin_panel .admin_sidebar {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #040c2c;
}

.admin_panel .admin_sidebar .admin_menu ul {
  padding-left: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}

.admin_panel .admin_sidebar .admin_menu li {
  margin: 5px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}

.admin_panel .admin_sidebar .admin_menu li:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

.admin_panel .admin_sidebar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin_panel .admin_sidebar div i {
  margin-right: 5px;
}

.admin_panel .admin_sidebar button {
  color: white;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}

.admin_panel .admin_sidebar button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.admin_panel .admin_viewPanel {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgray;
  opacity: .9;
}

.admin_panel .admin_viewPanel .postCreate {
  opacity: 1;
  color: #000;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin_panel .admin_viewPanel .postCreate label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-top: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.admin_panel .admin_viewPanel .postCreate label input {
  margin-left: 5px;
}

.admin_panel .admin_viewPanel .postCreate p {
  font-size: 20px;
}

.admin_panel .admin_viewPanel .postCreate textarea {
  margin-top: 20px;
  width: 50vw;
  overflow: scroll;
  min-height: 30vh;
  max-heihgt: 70vh;
  resize: none;
  outline: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
}

.admin_panel .admin_viewPanel .postCreate pre {
  font-family: 'Lato', sans-serif;
}

.admin_panel .admin_viewPanel .postCreate div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin_panel .admin_viewPanel .postCreate .preview {
  margin-top: 20px;
  width: 50vw;
  min-height: 30vh;
  max-heihgt: 70vh;
  overflow: scroll;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  font-size: 12px;
  display: inline;
  text-align: left;
}

.admin_panel .admin_viewPanel .postCreate button {
  margin-top: 10px;
}
/*# sourceMappingURL=adminMenu.css.map */