.skills_section {
  background-color: #fafafa;
  padding: 100px;
}
.skills_section .skills_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills_section .skills_text .skills_section_title {
  text-align: center;
  font-size: 50px;
  color: #040c2c;
  padding: 0px;
  margin: 0px;
}
.skills_section .skills_text .skills_section_description {
  color: #8a8a8a;
  padding-top: 0px;
  margin-top: 0px;
}
.skills_section .skills_text hr {
  width: 8%;
}
.skills_section .skills_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}
.skills_section .skills_list .skill_icon {
  font-size: 40px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.1s ease;
  border-radius: 15px;
  border: 1px solid transparent;
}
.skills_section .skills_list .skill_icon:hover {
  background-color: lightgray;
  border: 1px solid lightgray;
}
.skills_section .skills_list .choosed {
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 15px;
}
.skills_section .skills_list .choosed:hover {
  background-color: transparent;
}
.skills_section .projects_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.skills_section .projects_list .project_block {
  font-family: Open Sans, sans-serif;
  color: #797979;
  background-color: #fff;
  margin: 10px;
  flex-direction: column;
  border: 1px solid #f3f1f1;
  border-radius: 15px;
  margin-top: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills_section .projects_list .project_block .project_name {
  color: #040c2c;
  font-size: 20px;
  margin-bottom: 2px;
}
.skills_section .projects_list .project_block img {
  padding: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid white;
  border-radius: 15px;
}
.skills_section .projects_list .project_block .tech {
  display: flex;
}
.skills_section .projects_list .project_block .tech p {
  margin-left: 10px;
  margin-right: 10px;
}
.skills_section .projects_list .project_block .project_btn {
  margin-bottom: 10px;
}
.skills_section .projects_list .project_block .project_btn button {
  background-color: white;
  color: #777777;
  cursor: pointer;
  border: 1px solid #ededed;
  transition: 0.1s ease;
  font-weight: 200;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.skills_section .projects_list .project_block .project_btn button a {
  color: #777777;
  font-size: 13px;
}
.skills_section .projects_list .project_block .project_btn button:hover {
  background-color: #040c2c;
  color: #fff;
}
.skills_section .projects_list .project_block .project_btn button:hover a {
  color: #fff;
}

@media (max-width: 900px) {
  .skills_section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .skills_section .skills_technology {
    width: 100%;
  }
  .skills_section .skills_list .skill_icon {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    margin-top: 10px;
  }
}/*# sourceMappingURL=projects.css.map */